<% layout("/layouts/boilerplate") %>
<div class="container mt-5 mb-5 rounded">
  <div class="card shadow p-4">
    <div class="text-center">
      <i class="fa-solid fa-circle-user rounded-circle mb-3 fs-1" ></i>
      <h3><%= user.fullname %></h3>
      <p class="text-muted"><%= user.email %></p>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Name:</strong> <%= user.fullname %></p>
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email || "Not added" %></p>
      </div>

      <div class="col-md-6">
        <p><strong>Status:</strong> Active</p>
      </div>
    </div>

    <div class="mt-4 text-center">
      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

  </div>
</div>